body{
    background-color: beige;
}


header{
    background: url('img/music.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color:  #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: relative;
    border-radius: 15px;
}

header::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4) ;
    border-radius: 15px;
}

header *{
    z-index: 1;
}



h1{
   top: auto;
    font-size:72px;
    text-align: center;
    color:blue;
    font-family: 'Pacifico',serif;
    text-shadow: 2px 2px #fff;
}



.search-box{
    top: 15%;
    left: 2%;
    width: 100%;
    position: relative;
    display: flex;
}

.search{
    width: 100%;
    border: 3px solid #001;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 5px;
    height: 20px;
    color: #047;
    font-size: 22px;
    font-family: 'Pacifico', serif;
}

.search:focus{
    color: #000;
    box-shadow:  0 0 8px #06a;
}

.search-btn{
    width: 40px;
    height: 36px;
    border: 1px solid #001;
    background: #001;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    box-shadow:0 0 5px #06a;
}
.search-btn:hover{
    box-shadow: 2px 3px 8px #06a;
}

.reload{
    height: 45px;
    width: 45px;
    background-color: none;
    cursor: pointer;
    border-radius: 21px;
    box-shadow: 3px 3px 3px #037;
}


#searched-text{
    text-align: center;
    left:10%;
    font-size: 28px;
    width: 450px;
    max-width: 100%;
    
    color: #f01;
    font-family: 'Pacifico',serif;
    background: #fff;
    border-radius: 10px;
}



.results{
   
    max-width:100%;
    width: 500px;
    margin: 30px auto;
    font-family: 'Pacifico', serif;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 8px;
    color:#11f;
    text-align: center;
    position: relative;
    
}

.results h2{
    color: #f11;
    font-size: 35px;
}

ul.song-list{
    list-style-type: none;
    padding: 0;
    width: 650px;
}

ul.song-list li {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

}


#notifications{
    font-size: 20px;
    text-align: center;
    font-family: 'Pacifico', serif;
    color: rgb(21, 156, 43);
    background-color: lightgreen;
    width: 460px;
    padding-top:3px;
    border-radius: 15px;
    left: 38%;
    position: relative;
    visibility:hidden ;
}

.btn{
    color: #fff;
    background-color: #06a;
    border:0;
    border-radius: 5px;
    padding:  4px 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px #047;
}

.add{
    text-align: center;
    color:rgb(23, 216, 23);
    background-color: #fff;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
    box-shadow: 2px 2px 3px rgb(2, 155, 2);
}

.btn_music{
    
    color: #01f;
    font-size: 85px;
    border:none;

    transition: all linear .2s;
    cursor: pointer;
    outline: none;
}

.fa-pause-circle{
    display:none;
 }

 .fa-play-circle{
     height: 20px;
     width: 20px;
    
 }
 

.centered{
   
    display: flex;
    justify-content: center;
}

.centered button{
    transform: scale(1.3);
    margin: 15px;
}


.star{
    position: fixed;
    top:48%;
    left:0.5%;
    font-size:25px;
    height: 35px;
    width: 35px;
    padding: 0;
    text-align: center;
    background-color: #ff1;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
   
    border-radius: 25px;
}

.favorite{
    top: 51%;
    background: #fff;
    font-family: 'Pacifico', serif;
    font-size:35px;
    color:#f11;
    padding:2px;
    border-radius: 0% 0% 100% 50%;
    padding-left: 8px;
    width:42%;
    height: 680px;
    position: absolute;
    transform: translateX(-101%);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
}   

.favorite-view{
    transform: translateX(0);
    border-radius: 0% 5% 5% 0%;
	background: #fff ;
    
}


.favorite p{
    text-align: center;
}

.fav-list{
    text-align: center;
    color: blue;
    
}

ul .fav-list{
    list-style-type:none;
    padding: 2px;
}



ul.fav-list li {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    
}


.clear-all{
    
    width: 35px;
    height:35px;
    background: #f11;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 25%;
    box-shadow: 3px 2px 5px #06a;
}

.clear-all:hover{
    box-shadow: 3px 3px 5px #f11;
}

.remove-item{
    width: 20px;
    height: 20px;
    background: #f11;
    color: #fff;
    outline: none;
    border-radius: 25%;
    cursor: pointer;
    padding: 1px;
}

.delete-items{
   
    margin-left: 33%;
    width: 350px;
    font-size: 30px;
    font-family: 'Pacifico',serif;
    color: #017;
    text-align: center;
    padding: 5px;
    
    
}

footer{
    position: absolute;
    top:auto;
    left:43%;
}

footer p{
    padding-top: 41px;
    width: 340px;
    height: 80px;
    color: #f04;
    font-size: 21px;
    font-weight: bolder;
    background-color: rgb(103, 215, 247);
    text-align: center;
    border-radius: 5%;
    box-shadow: 4px 4px 4px  #f04;
}

.heart{
    height: 15px;
    width: 15px;
    background-color: #f11;
}

.github{
    padding: 10px;
    width: 20px;
    height: 15px;
    background-color: black;
    color: white;
    border-radius: 25%;
    cursor: pointer;
}

.linkedin{
    padding: 10px;
    width: 20px;
    height: 15px;
    color: white;
    background-color: #03a;
    border-radius: 25%;
    cursor: pointer;
}

.instagram{
    padding: 10px;
    width: 20px;
    height: 15px;
    color: white;
    background: radial-gradient(1.5em circle at  bottom , yellow , rgb(114, 0, 180));
    border-radius: 25%;
    cursor: pointer;
}


@media only screen and (max-width:400px){
    h1{
        font-size:40px;
    }
    
    header{
        height:100px;
        width: 130px;
    }

    #form{
        top:5%;
        width:230px;
    }

    .search-box{
        top: 8%;
    }

    #searched-text{
        font-size: 15px;
        width:450px;
        height: 100px;
    }

    .reload{
        height: 28px;
        width: 28px;
    }

    #notifications{
        font-size: 20px;
        left:30px;
        width:300px;
    }

    .star{
        top: 32%;
    }

    .favorite{
        width: 300px;
        font-size: 25px;
    }


    footer{
        top:auto;
        left: 12%;
    }

    footer p{
        width: 300px;
        font-size: 18px;
    }
}

/* Desktop style */

@media only screen and (min-width:961px){
    header{
        height: 30%;
    }
   
    footer{
        top:auto;
        left: 43%;
    }
}