


header{
    background: url('img/music.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:  #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: relative;
}

header::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4) ;
}

header *{
    z-index: 1;
}



h1{
    top: 0;
    font-size:70px;
    text-align: center;
    color:blue;
    font-family: 'Pacifico',serif;
}



.search-box{
    top: 15%;
    left: 40%;
    width: 20%;
    position: relative;
    display: flex;
}

.search{
    width: 85%;
    border: 3px solid #001;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 5px;
    height: 20px;
    color: #047;
    font-size: 22px;
    font-family: 'Pacifico', serif;
}

.search:focus{
    color: #000;
    box-shadow:  0 0 8px #06a;
}

.search-btn{
    width: 40px;
    height: 36px;
    border: 1px solid #001;
    background: #001;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    box-shadow:0 0 5px #06a;
}
.search-btn:hover{
    box-shadow: 2px 3px 8px #06a;
}

.columns{
display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 2px;
}
.column {
    flex: 1;
    margin: 5px;
    padding: 15px;
}
.column:first-child {
    margin-left: 10px;
}
.column:last-child {
    margin-right: 5px;
}



#notifications{
    font-size: 28px;
    color: #f01;
    font-family: 'Pacifico',serif;
}

.results{
    top: 10%;
    left: 12%;
    background:linear-gradient(to bottom,
    #ff1, #a11);
    font-family: 'Pacifico', serif;
    font-size: 22px;
    border-radius: 15px;
    padding-left: 8px;
    color:#11f;
    text-align: center;
}

.results h2{
    color: #f11;
    font-size: 35px;
}

.song-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 14%;
    transform: translate(-50% ,0);
    background: linear-gradient(to left, 
    rgb(255, 255, 0 ),
    rgb(255, 255, 255));
    border-radius:   18px;
    

}
.song-list li{
    
    margin-bottom: 20px;
    width: 600px;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: overline;
    text-decoration-color: rgb(12, 147, 100);
    position: relative;
     line-height: 25px;
}

.song-list li::after{
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -4px;
    height: 3px;
    background: rgb(12, 147, 100);
    display: inline-block;
}
.song-list li div{
    float: left;
}

.song-list li span{
    float: right;
    background-color: #06b;
    border: 0;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    padding: 4px 10px;
    text-transform: capitalize;
}

.song-list li button{
    background-color: lightgreen;
    color: #fff;
    font-size: 10px;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    
}

.results button {
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.btn{
    background: #06a;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}


.favorite{
    top: 20%;
    background: #fff;
    font-family: 'Pacifico', serif;
    font-size:25px;
    color:#f11;
    border-radius: 20px;
    padding-left: 8px;
}
.favorite p{
    text-align: center;
}

.clear-all{
    
    width: 35px;
    height:35px;
    background: #f11;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 25%;
    box-shadow: 3px 2px 5px #06a;
}

.clear-all:hover{
    box-shadow: 3px 3px 5px #f11;
}



